[tool.poetry]
name = "protostar"
version = "0.1.0"
description = "Toolchain for developing, testing and interacting with Cairo contracts for StarkNet"
authors = ["tomasz.rejowski <tomasz.rejowski@swmansion.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/software-mansion/protostar"

[tool.poetry.dependencies]
python = ">=3.7.12, <3.10"
GitPython = "^3.1.26"
typing-extensions = "^4.0.1"
argparse = "^1.4.0"
colorama = "^0.4.4"
tomli-w = "^1.0.0"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
pylint = "^2.12.2"
poethepoet = "^0.12.2"
cairo-lang = "^0.7.0"
pytest = "^6.2.5"
coverage = "^6.3.1"
pyright = "^0.0.13"

[tool.poe.tasks]
lint = "pylint src"
format = "black ."
test = ["test_unit"]
test_unit.shell = "coverage run -m pytest"
test_report = [{ shell = "coverage report" }]
test_html = [
    { shell = "coverage html && open ./htmlcov/index.html" }
]

[tool.coverage.run]
source = ["src"]

[tool.coverage.report]
skip_empty = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ["py37"]

[tool.isort]
lines_between_sections = 1
