/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: hsl(240, 40%, 35%);
  --ifm-color-primary-dark: hsl(240, 46%, 32%);
  --ifm-color-primary-darker: hsl(240, 46%, 30%);
  --ifm-color-primary-darkest: hsl(240, 46%, 25%);
  --ifm-color-primary-light: hsl(240, 46%, 39%);
  --ifm-color-primary-lighter: hsl(240, 46%, 40%);
  --ifm-color-primary-lightest: hsl(240, 46%, 46%);
  --ifm-code-font-size: 95%;
  --color-secondary: hsl(38, 85%, 53%);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: hsl(230, 45%, 75%);
  --ifm-color-primary-dark: hsl(230, 45%, 61%);
  --ifm-color-primary-darker: hsl(230, 45%, 58%);
  --ifm-color-primary-darkest: hsl(230, 45%, 52%);
  --ifm-color-primary-light: hsl(230, 45%, 70%);
  --ifm-color-primary-lighter: hsl(230, 45%, 72%);
  --ifm-color-primary-lightest: hsl(230, 45%, 79%);
  --color-secondary: hsl(38, 85%, 53%);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.text-secondary {
  color: var(--color-secondary);
}

/* .navbar__title {
  background-color: red;
  background: url('/img/protostar-title--dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  user-select: none;
  padding: 0 0.5rem;
  transform: translateY(1px);
} */
