.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  text-align: center;
  margin: 2rem 0;
}

.iconContainer {
  background-color: #E0F2FA;
  display: inline-flex;
  padding: 1.5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 6px solid var(--brand-blue);
}

[data-theme="dark"] .iconContainer {
  background-color: #86CCE8;
  border-color: white;
}