.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-emphasis-100);
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.stars {
  flex: 1;
}

.contentContainer {
  flex: 2;
  flex-shrink: 0;
  padding: 0 2rem;
}

.logoContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
